<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="contact-form" action="/success" method="POST">
            <div class="form-control">
                <label for="contact-name">Name:</label>
                <input type="text" name="contact-name" id="contact-name"><br>
                <label for="email">Email:</label>
                <input type="text" name="contact-mail" id="contact-mail"><br>
            </div>
            <button type="submit">Get a call</button>
        </form>
</body>
</html>